.Board-board{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:100vh;
    background-color:#e9e9ef;
    border: 1px solid black ;
    border-radius:10px;
    flex-grow:1;
}
header{
    text-align: center;
    background-color: white;
    padding:20px;
}
footer{
    text-align:center;
    background-color: white;
    padding:20px;
}