.board{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:100vh;
    background-color:#e9e9ef;
    border: 1px solid black ;
    border-radius:10px;
}
.titleEn{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-grow: 1;
}

.note{
    display:flex;
    flex-direction: row;
    flex-grow:1;
}
.note p{
    margin:0px;
}

img{
    width:20px;
    height:20px;
    margin-left: 10px;
}

.save{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-grow:1;
}
header{
    text-align: center;
    background-color: white;
    flex-grow:1;
}
footer{
    text-align:center;
    background-color: white;
    flex-grow:1;

}
textarea{
    flex-grow: 7;
}
.topic{
    flex-grow: 1;
    padding:10px
}
input{
    padding:10px;
}

